*{
	margin: 0;
	padding: 0;
}
.head1 {
	background-image: linear-gradient(to right, orange , tomato);
	height: 100px;
	padding-bottom:15px;
}
h1 {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center;
	font-size: 35px;
	text-shadow: -2px 0 white;
	color:#000080;
}
.first1 {
	position:relative;
	float:left;
	padding-left: 15px;
	padding-top:10px;
	font-size: 20px;
	text-shadow: -1px 0 white;
	color:#000080;
}
.first2 {
	position:relative;
	float:left;
	padding-left: 25px;
	padding-top:10px;
	font-size: 20px;
	text-shadow: -1px 0 white;
	color:#000080;
}
.first3 {
	position:relative;
	float:left;
	padding-left: 35px;
	padding-top:10px;
	font-size: 20px;
	text-shadow: -1px 0 white;
	color:#000080;
}
.first4 {
	position:relative;
	float:left;
	padding-left: 45px;
	padding-top:10px;
	font-size: 20px;
	text-shadow: -1px 0 white;
	color:#000080;
}
.head2 {
	background-color:#FFFAFA;
}
p {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size:18px;
}

@media only screen and (min-width: 768px){
.head1 {
	background-image: linear-gradient(to right, orange , tomato);
	height: 250px;
	padding-top: 30px;
}
h1 {
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center;
	font-size: 65px;
	text-shadow: -3px 0 white;
	color:#000080;
}
.first1 {
	position:relative;
	float:left;
	width: 20%;
	padding-left: 10%;
	padding-top:90px;
	font-size: 35px;
	text-shadow: -1px 0 white;
	color:#000080;
}
.first2 {
	position:relative;
	float:left;
	width: 20%;
	padding-top:90px;
	font-size: 35px;
	text-shadow: -1px 0 white;
	color:#000080;
}
.first3 {
	position:relative;
	float:left;
	width: 20%;
	padding-top:90px;
	font-size: 35px;
	text-shadow: -1px 0 white;
	color:#000080;
}
.first4 {
	position:relative;
	float:left;
	width: 20%;
	padding-top:90px;
	font-size: 35px;
	text-shadow: -1px 0 white;
	color:#000080;
}
.head2 {
	float: left;
	width:50%;
}
.image1 {
	float: right;
	width: 50%;
	padding-top: 20px;
}
p {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-size:22px;
}
	
}
