*{
	margin: 0;
	padding: 0;
}
.head1 {
	background-image: linear-gradient(to right, orange , tomato);
	height: 100px;
	padding-bottom:15px;
}
h1 {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center;
	font-size: 35px;
	text-shadow: -2px 0 white;
	color:#000080;
}
h2 {
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	font-size:28px;
	letter-spacing: 0.5px;
}
h3{
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size:18px;
	letter-spacing: 0.5px;
}

.first1{
	text-align:center;
	margin-top: 6px;
}
.btn1{
	margin-left: 15px;
	margin-top: 10px;
	font-size: 18px;
	text-shadow: -1px 0 white;
	color:#000080;
	font-weight: bold;
	float: left;
}
.btn2{
	margin-left: 15px;
	margin-top: 10px;
	font-size: 18px;
	text-shadow: -1px 0 white;
	color:#000080;
	font-weight: bold;
	float: left;
}
.btn3{
	margin-left: 15px;
	margin-top: 10px;
	font-size: 18px;
	text-shadow: -1px 0 white;
	color:#000080;
	font-weight: bold;
	float: left;
}
.btn4{
	margin-left: 15px;
	margin-top: 10px;
	font-size: 18px;
	text-shadow: -1px 0 white;
	color:#000080;
	font-weight: bold;
	float: left;
}
.btn5{
	margin-left: 15px;
	margin-top: 10px;
	font-size: 18px;
	text-shadow: -1px 0 white;
	color:#000080;
	font-weight: bold;
	float: left;
}

.head2 {
	background-color:#FFE4B5;
}
.head3 {
	background-color:#FFE4B5;
}
.head4 {
	background-color:#FFE4B5;
}
h3{
	background-color:#FFE4B5;
}
p {
	padding-top: 15px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	font-size:18px;
}

@media only screen and (min-width: 768px){
.head1 {
	background-image: linear-gradient(to right, orange , tomato);
	height: 270px;
	padding-top: 40px;
	margin-bottom: 10px;
	border-radius: 60px 60px 60px 60px;
	box-shadow: 4px 4px 7px black;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 10px;
}
h1 {
	padding-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
	text-align:center;
	font-size: 75px;
	text-shadow: -3px 0 #FFE4B5;
	color:#000080;
	letter-spacing: 25px;
}
h2 {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	font-size:38px;
	letter-spacing: 0.5px;
}
h3{
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
	font-size: 35px;
	color:#000080;
	text-shadow: -2px 0 white;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 10px 10px 10px 10px;
	margin-bottom: 10px;
}

.head2 {
	float: left;
	width:50%;
	padding-top: 20px;
	border-radius: 20px 20px 20px 20px;
	
}
.head3 {
	float: right;
	width:50%;
	padding-top: 20px;
	border-radius: 20px 20px 20px 20px;
}
.head4 {
	float: left;
	width:50%;
	padding-top: 20px;
	border-radius: 20px 20px 20px 20px;
}
.image1 {
	float: right;
	width: 50%;
	padding-top:150px;
}
.image2 {
	float: left;
	width: 50%;
	padding-top:150px;
}
.image3 {
	float: right;
	width: 50%;
	padding-top:80px;
}
p {
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
	font-size:22px;
	letter-spacing: 0.5px;
}
.first1{
	text-align:center;
	margin-top: 50px;
}

.btn1{
	margin-left: 150px;
	margin-top: 40px;
	font-size: 35px;
	text-shadow: -1px 0 #FFE4B5;
	color:#000080;
	font-weight: bold;
	float: left;
	border: solid 2px;
	width: 15%;
	height: 40px;
	border-radius: 8px 8px 8px 8px;
}
.btn1:hover{
	background-color: #FFE4B5;
}
.btn2{
	
	margin-top: 40px;
	font-size: 35px;
	text-shadow: -1px 0 #FFE4B5;
	color:#000080;
	font-weight: bold;
	float: left;
	border: solid 2px;
	width: 15%;
	height: 40px;
	border-radius: 8px 8px 8px 8px;
}
.btn2:hover{
	background-color: #FFE4B5;
}
.btn3{
	
	margin-top: 40px;
	font-size: 35px;
	text-shadow: -1px 0 #FFE4B5;
	color:#000080;
	font-weight: bold;
	float: left;
	border: solid 2px;
	width: 15%;
	height: 40px;
	border-radius: 8px 8px 8px 8px;
}
.btn3:hover{
	background-color: #FFE4B5;
}
.btn4{
	
	margin-top: 40px;
	font-size: 35px;
	text-shadow: -1px 0 #FFE4B5;
	color:#000080;
	font-weight: bold;
	float: left;
	border: solid 2px;
	width: 15%;
	height: 40px;
	border-radius: 8px 8px 8px 8px;
}
.btn4:hover{
	background-color: #FFE4B5;
}
.btn5{
	
	margin-top: 40px;
	font-size: 35px;
	text-shadow: -1px 0 #FFE4B5;
	color:#000080;
	font-weight: bold;
	float: left;
	border: solid 2px;
	width: 15%;
	height: 40px;
	border-radius: 8px 8px 8px 8px;
}
.btn5:hover{
	background-color: #FFE4B5;
}
.block1{

	float: left;
	width: 32%;
	height: 1500px;
	margin-left: 20px;
}
.block2{
	background-color: green;
	float: left;
	width: 32%;
	height: 1500px;
	margin-left: 20px;
}
.block3{
	background-color: blue;
	float: left;
	width: 32%;
	height: 1500px;
	margin-left: 20px;
}


}
